# Analysis of data from Chen
**/Chen/*.tar
**/Chen/*.mat
**/Chen/image
**/Chen/readme
**/Chen/analysis/images_withbbox

# Build artifacts
build/
retarget

# Untrackable (and outdated) Google Doc files
old/

# Output from programme
datasets/**/*_saliency.jpg

# Misc
.clang_complete
