# Datasets
datasets/**/*.zip

# Analysis of data from Chen
**/Chen/*.tar
**/Chen/*.mat
**/Chen/image
**/Chen/readme
**/Chen/analysis/images_withbbox
**/Chen/analysis/good_crops

# EarthPorn dataset
datasets/EarthPorn/*.jpg

# Phone datasets
datasets/Michael
datasets/Wookie

# Build artifacts
build/
retarget

# Python artifacts
*.pyc

# Untrackable (and outdated) Google Doc files
old/
references/

# Output from programme
datasets/**/*.exr
*.yml
*.xml

# Misc
.clang_complete
.*
