# Datasets
datasets/**/*.zip

# Analysis of data from Chen
**/Chen/*.tar
**/Chen/*.mat
**/Chen/image
**/Chen/readme
**/Chen/analysis/images_withbbox
**/Chen/analysis/good_crops

# Reddit dataset
datasets/Reddit/*.jpg
datasets/Reddit/*.JPG
datasets/Reddit/*.jpeg
datasets/Reddit/*.png
datasets/Reddit/*.gif

# Phone datasets
datasets/Michael/*.jpg
datasets/Michael/*.pickle
datasets/Wookie/*.jpg
datasets/Wookie/*.pickle

# Build artifacts
build/
retarget

# Python artifacts
*.pyc

# Suitability training data
suitability/cv.out*
suitability/preprocess.out*

# Untrackable (and outdated) Google Doc files
old/
references/

# Output from programme
datasets/**/*.exr
*.yml
*.xml

# Output from pdflatex
report/*.bbl

# Misc
.clang_complete
.*
